doctype html
html
    head
        title New recipes
    body
        a(href="/myProfile"): button(type="button") #{name}
        br
        a(href="/newRecipes"): button(type="button") New Recipes
        br
        a(href="/myRecipes"): button(type="button") My Recipes
        br
        br
        h2 newRecipes
        table(border='1')
            tr
                th Name
                th Image
                th Description
                th Date
                th Go to

            - for (let i=0; i<items.length; i++) {
                tr
                    td #{items[i].name}
                    td
                        img(src=items[i].path_img, alt="image not found")
                    td #{items[i].description}
                    td #{items[i].date}
                    td
                        a(href='/recipe?id='.concat(items[i].recipe_id)): button(type="button") Go to
            - }
