extends layouts/default_layout

block content
    table
        tr
            th Image
            th Name
            th Description
            th Ingredients
            th Instruction
            th Date
        tr
            td #{item.path_img}
            td #{item.name}
            td #{item.description}
            td #{item.ingredients}
            td #{item.instruction}
            td #{item.date}
            td
                a(href=path_bt): button(type="button") #{name_bt}