extends layouts/default_layout

block content
    form(action='/addRecipe', method='post')
        br
        label #{name}
        br
        input(type='text', name='name' required)
        br
        label #{description}
        br
        input(type='text', name='description')
        br
        label #{ingredients}
        br
        div(id='ingredients')
        input(type='hidden' value=0 name='numberIngredients')
        input(type='button' value='Add' onclick="addIngredient()")
        br
        label #{instruction}
        br
        input(type='text', name='instruction' required)
        br
        label #{image}
        br
        input(type='text', name='image')
        br
        input(type='submit', value=addRecipe)
        br
        a(href='/newRecipes'): button(type="button") #{home}