extends layouts/default_layout

block content
    - let items = recipes || ''
    h1 #{title}
    table
        tr
            th #{image}
            th #{name}
            th #{description}
        - for (let i = 0; i < items.length; i++)
            tr
                td #{items[i].path_img}
                td #{items[i].name}
                td #{items[i].description}
                td
                    a(href='/recipe?id='.concat(items[i]._id)): button(type="button") #{goTo}

    a(href='/addRecipe'): button(type="button") #{addRecipe}