extends layouts/default_layout
block content
    label #{error}
    br
    a(href=path1): button(type='button') #{nameBt1}
    if isVisitableTwoBt
        a(href=path2): button(type='button') #{nameBt2}