doctype html
html
    head
        title Error
    body
        p #{smg}
        a(href=path1): button(type="button") #{path1}
        br
        br
        a(href=path2): button(type="button") #{path2}
