extends ../layouts/auth_layout
    
block form
    form(action='/login' class='parsley-form' method='post')
        div(class='form-group mb-3')
            label(for='email') #{email}
            input(class='form-control' type='email' name='email' id='email' placeholder=enter_your_email required)
    
        div(class='form-group mb-3')
            label(for='password') #{password}
            input(class='form-control' type='password' name='password' id='password' placeholder=enter_your_password required)
    
        div(class='form-group mb-0 text-center')
            button(class='btn btn-primary btn-block' type='submit') #{sign_in}
            
block lower-block
    p(class='text-muted') #{dont_have_an_account}?
        a(href='/registration' class='text-primary font-weight-medium ml-1') #{sign_up}