extends ../layouts/default_layout
block content
    h1 #{title}
    label #{username}
    br
    label #{firstName} #{lastName}
    br
    label #{email}
    br
    a(href='/profile/edit'): button(type='button') #{edit}
    a(href='/logout'): button(type='button') #{logout}