extends ../layouts/default_layout
block plugins-css
    //- Rich Text Editor
    link(href='assets/libs/quill/quill.core.css' rel='stylesheet' type='text/css')
    link(href='assets/libs/quill/quill.bubble.css' rel='stylesheet' type='text/css')
    link(href='assets/libs/quill/quill.snow.css' rel='stylesheet' type='text/css')

block content
    .row
        .col-lg-12
            .card
                .card-body
                    form(action='/addRecipe' class='parsley-form' method='post')
                        .form-group
                            label(for='name') #{name}
                                span(class='text-danger') *
                            input(type='text' name='name' parsley-trigger='change' required placeholder=enter_name_ingredient class='form-control' id='name')

                        .form-group
                            label(for='description') #{description}
                            input(type='text' name='description' parsley-trigger='change' placeholder=enter_description class='form-control' id='description')

                        .form-group
                            label(for='ingredients') #{ingredients}
                                span(class='text-danger') *
                            #ingredients
                            input(type='hidden' value=0 name='numberIngredients')
                            button(type='button' class='btn btn-success waves-effect waves-light btn-sm' onclick='addIngredient()')
                                i(class='mdi mdi-plus-circle')

                        .form-group
                            label(for='instruction') #{instruction}
                                span(class='text-danger') *
                            div(id='snow-editor' style='height: 300px;')
                            input(type='hidden' name='instruction' id='instruction')

                        .form-group
                            label(for='img_path') #{image}
                            input(type='text' name='img_path' parsley-trigger='change' placeholder=enter_path_image class='form-control' id='img_path')

                        div(class='form-group text-left mb-0')
                            button(class='btn btn-primary waves-effect waves-light mr-1' type='submit' onclick='document.getElementById("instruction").value=document.getElementsByClassName("ql-editor")[0].innerHTML;') #{addRecipe}
                            button(class='btn btn-secondary waves-effect waves-light'): a(href='/') #{home}

block plugins-js
    //- Vendor js || mobile menu
    script(src='assets/js/vendor.min.js')

    //- Form Validation js (Parsleyjs)
    script(src='assets/libs/parsleyjs/parsley.min.js')

     //- Plugins js
     script(src='assets/libs/katex/katex.min.js')
     script(src='assets/libs/quill/quill.min.js')
     script(src='assets/js/pages/form-quilljs.init.js')

     //- App js
     script(src='assets/js/app.min.js')

     script.
        let i = -1;
        function addIngredient() {
            i = i + 1
            let str = `<div id="ingredient" class="row">`

            str += `<div class="col-sm-4"> <input type="text" name="name_${i}" parsley-trigger="change" placeholder="#{enter_name_ingredient}" class="form-control" required/> </div>`
            str += `<div class="col-sm-4"> <input type="number" step="any" name="value_${i}" parsley-trigger="change" placeholder="#{enter_quantity}" min="1" class="form-control" required/> </div>`

            str += `<div class="col-sm-4"> <select name="unit_${i}" parsley-trigger="change" class="form-control" required>`
            str += `<option disabled>#{select_the_unit_of_measure}</option>`
            str += `<option selected value="piece">#{piece}</option>`
            str += `<option value="gram">#{gram}</option>`
            str += `<option value="milliliter">#{milliliter}</option>`
            str += `<option value="liter">#{liter}</option>`
            str += `<option value="cup">#{cup}</option>`
            str += `<option value="teaspoon">#{teaspoon}</option>`
            str += `<option value="teaspoon">#{tablespoon}</option>`
            str += `</select> </div>`

            str += '</div>';
            document.getElementById('ingredients').insertAdjacentHTML('beforeend', str)
            document.getElementsByName('numberIngredients')[0].value = i
        }
        addIngredient();

        $(document).ready(function() {
            $(".parsley-form").parsley()
        });