extends ../layouts/default_layout

block content

    //- Plugins css
    link(href="assets/libs/quill/quill.core.css" rel="stylesheet" type="text/css")
    link(href="assets/libs/quill/quill.bubble.css" rel="stylesheet" type="text/css")
    link(href="assets/libs/quill/quill.snow.css" rel="stylesheet" type="text/css")

    form(action='/addRecipe', method='post')
        br
        label #{name}
        br
        input(type='text', name='name' required)
        br
        label #{description}
        br
        <div id="snow-editor" style="height: 300px;">
            h3
                span(class="ql-size-large") Hello World!
            p <br>
            h3 This is an simple editable area.
            p <br>
            ul
                li Select a text to reveal the toolbar.
                li Edit rich document on-the-fly, so elastic!
            p <br>
            p End of simple area
        //- end Snow-editor
        br
        label #{ingredients}
        br
        div(id='ingredients')
        input(type='hidden' value=0 name='numberIngredients')
        input(type='button' value='Add' onclick="addIngredient()")
        br
        label #{instruction}
        br
        input(type='text', name='instruction' required)
        br
        label #{image}
        br
        input(type='text', name='img_path')
        br
        input(type='submit', value=addRecipe)
        br
        a(href='/newRecipes'): button(type="button") #{home}

        //- Plugins js
        script(src="assets/libs/katex/katex.min.js")
        script(src="assets/libs/quill/quill.min.js")