extends ../layouts/default_layout
block content
    .row
        - for (let i = 1; i <= recipes.length; i++)
            div(class='col-md-6 col-xl-3')
                .card
                    img(class='card-img-top img-fluid' src=recipes[recipes.length - i].img_path)

                    .card-body
                        h5(class='card-title') #{recipes[recipes.length - i].name}
                        p(class='card-text') #{recipes[recipes.length - i].description}

                    ul(class='list-group list-group-flush')
                        li(class='list-group-item')
                            span Ingredients: #{recipes[recipes.length - i].ingredients}

                   .card-body
                        a(href='/recipe?id='.concat(recipes[recipes.length - i]._id) class='btn btn-primary') #{goTo}
                        a(href='/editRecipe?id='.concat(recipes[recipes.length - i]._id) class='float-right btn btn-success waves-effect waves-light')
                            span(class='mdi mdi-pencil')

block plugins-js
    //- Vendor js
    script(src='assets/js/vendor.min.js')

    script(src='assets/libs/jquery-knob/jquery.knob.min.js')
    script(src='assets/libs/peity/jquery.peity.min.js')

    //- App js
    script(src='assets/js/app.min.js')