extends layouts/default_layout
block content
    form(action="/register", method="post")
        br
        label #{username}
        br
        input(type="text" name="username")
        br
        br
        label #{firstName}
        br
        input(type="text" name="firstName")
        br
        br
        label #{lastName}
        br
        input(type="text" name="lastName")
        br
        br
        label #{email}
        br
        input(type="email" name="email")
        br
        br
        label #{password}
        br
        input(type="password" name="password")
        br
        br
        input(type="submit" value=signUp)
        br
        br
        a(href='/login'): button(type="button") #{orYouHaveAccount}?